.search_pdf_input{
    position: relative;
    top: 0;
    left: 0;
  }
  
  .search_pdf_input input{
    border: 1px solid white;
    border-radius: 8px;
    padding: 1rem 1.1875rem;
    padding-left: 2.9375rem;
    padding-right: 4.5625rem;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    font-weight: 400;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  .search_pdf_input input,.search_pdf_input input::placeholder{
    font-size: 1rem;
    color: white;
    
  }
  
  .search_pdf_input input::placeholder{
    opacity: 0.8;
  }
  .search_pdf_input svg{
    fill: white;
    width: 1.0625rem;
    height: 1.0625rem;
  }
  
  .search_pdf_input svg.search_icon{
    position: absolute;
    /* top: 16px;
    left:19px; */
    top: 1rem;
    left: 1.1875rem;
   
  }

  .search_pdf_input .more_search_options{
    position: absolute;
    /* top: 16px;
    right:19px; */
    top: 1rem;
    right: 1.1875rem;
    cursor: pointer;
  }