:root {
  --pdf-background: var(--grey-2);
  --tools-header-background: var(--grey-3);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.App .header {
  width: 100%;
  height: 100px;
  padding: 8px 8px 8px 16px;
  box-sizing: border-box;
  background: #00a5e4;
  font-size: 1.2em;
  line-height: 44px;
  color: white;
}

#scroll-view {
  bottom: 0;
  top:10vh;
  /* leave room for 100px header */
  height: 100%;
  width: 100%;
  overflow: auto;
  flex: 3;
  background-color: #606165;
  /* padding-top: 10vh; */
}

#viewer {
  margin: auto;
  padding-top: 10vh;
}

#main-column {
  flex-direction: row;
  flex: 3;
}

#tools {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #FBFBFB; */
  height: 100%;
}

#tools button {
  background-color: transparent;
  /* fill: #757575; */
  /* width: 32px;
  height: 32px; */
  margin: 5px;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.zoom_buttons{
  margin-right: 3rem;
  margin-left: 2rem;
}

/* #tools button:hover {
  background-color: #c7d2dd;
  border-radius: 4px;
} */

.pageContainer {
  /* border: 1px solid #ececec;
  box-shadow: 5px 10px 18px #ececec;
  position: relative; */
}

.left-container{
  position: fixed;
  top: 41px;
  left: 0;
  background-color: gray;
  width: 400px;
  height: calc(100vh - 41px);
}

.right-container{
  position: fixed;
  top: 41px;
  right: 0;
  background-color: gray;
  width: 400px;
  height: calc(100vh - 41px);
}

.flexbox-container {
  display: flex;
}

/* added by rija */
.custom_header{
  box-shadow: 0px 4px 8px 4px rgba(0, 13, 27, 0.06);
  position: fixed;
  z-index: 99999;
  background-color: #FBFBFB;
}

.operations_header{
  height: 10vh;
}

.page_input{
  padding: 5px 10px;
  border: 1px solid #9BC1E9;
  background-color: #FBFBFB;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
}
