:root {
  --pdf-background: var(--grey-2);
  --tools-header-background: var(--grey-3);
}

#viewer {
  margin: auto;
}

#tools {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#tools button {
  background-color: transparent;
  margin: 5px;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.zoom_buttons{
  width: 20%;
  text-align: center;
}

#tools button:hover {
  background-color: #c7d2dd;
  border-radius: 4px;
}

.page_operation{
  font-size: 1.125rem;
  font-weight: 400;
  color: #3B3C44;
}

.current_page_input{
  padding: 0.3125rem 0.625rem;
  border: 1px solid #9BC1E9;
  background-color: #FBFBFB;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  font-size: 1.125rem;
  font-weight: 400;
  color: #3B3C44;
}

.right_header{
  text-align: right;
}

.book_thumbnail{
  width: 4rem;
  height: 5rem;
  margin-right: 1rem;
}
.book_name{
font-size: 18px;
}
.book_info{
  display: flex;
  align-items: center;
}
.pdf_logo{
  height: 4.5rem;
  width: 6.625rem;
}

.bookmarks_container{
  padding: 1.5rem;
  padding-right: 0.5rem;
  background-color: white;
  border-radius: 8px;
  height: 37vh;
  max-height: 37vh;
  position: relative;
  top: 0;
  left: 0;
}

.main_bookmarks_container{
  background-color: white;
  height: 100%;
  overflow: auto;
  padding-right: 1rem;
 
}
.main_bookmarks_container::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}

.main_bookmarks_container::-webkit-scrollbar-track{
   background-color: #DADADA;
}
 
.main_bookmarks_container::-webkit-scrollbar-thumb{
  background-color: #5F20AF;
  border-radius: 50px;
}

.main_bookmarks_container .bookmarks_heading{
  font-size: 1.125rem;
  font-weight: 500;
  color: #3B3C44;
  padding-bottom: 0.8125rem;
  border-bottom: 1px solid #9BC1E9;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.main_bookmarks_container .bookmarks_heading .carrot_icon.close{
  transform: rotateX(180deg)
}

.main_bookmarks_container .bookmarks_subheading{
  font-size: 1.125rem;
  font-weight: 400;
  color: #3B3C44;
  padding: 0.75rem 0px;
  cursor: pointer;
}
.main_bookmarks_container .bookmarks_subheading.nested_subheading{
  padding-bottom: 0.75rem;
  
}

.main_bookmarks_container li.subItem:last-child{
  margin-bottom: 1.5rem;
}

.main_bookmarks_container li.subItem{
  margin-bottom: 0.75rem;
  color: #929196;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.bottom_margin{
  margin-bottom: 1.5rem !important;
}

.operation_btn{
  width: 100%;
  outline: none;
  background-color: white;
  border-radius: 8px;
  padding: 0.875rem 1.375rem;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 400;
  color: #3B3C44;
  border: none;
  cursor: pointer;
}

.pdf{
  height: 100%;
  max-height: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.pdf_header_section{
  padding: 1rem 3rem;
  z-index: 99999;
  box-shadow: 0px 4px 8px 4px rgba(0, 13, 27, 0.06);
  background-color: #FBFBFB;
}

.pdf_right_header{
  text-align: right;
}

.pdf_body{
  flex: 1;
  background-color: #606165;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.pdf_left{
  flex: 1;

  /*after bp */
  /* position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 300px; */
}

.pdf_main{
  overflow: auto;
  flex: 3;
}

.pdf_main::-webkit-scrollbar{
  width: 0;

}

.pdf_main::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  background-color: #e4e4e4;
}

.pdf_main::-webkit-scrollbar-thumb{
  background-color: #606165;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.content{
  height: 500px;
  width: 100%;
}

.pdf_right{
  flex: 1;
}

.pdf_side_container{
  padding: 2.5rem;
  padding-top: 1.5rem;
  box-sizing: border-box;
}

.pdf_btn_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pdf_btn{
  margin-bottom: 1.5rem !important;
  /* width: 100%; */
  outline: none;
  background-color: white;
  border-radius: 8px;
  padding: 0.875rem 1.375rem;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 400;
  color: #3B3C44;
  border: none;
  cursor: pointer;
  /* flex: 0.5; */
}

@media screen and (max-width: 960px) {
  .operations_header{
    order:1;
  }
  .custom_header{
    max-height: 160px;
    min-height: 160px;
  }
  #scroll-view{
    margin-top: 160px;
    height: calc(100% - 160px);
  }
  .zoom_buttons{
    width: 39%;
  }
}

@media screen and (max-width: 1870px) {
  .pdf_btn{
    width: 100%;
    margin-right: 0 !important;
  }
}