:root {
  --pdf-background: var(--grey-2);
  --tools-header-background: var(--grey-3);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.App .header {
  width: 100%;
  height: 100px;
  padding: 8px 8px 8px 16px;
  box-sizing: border-box;
  background: #00a5e4;
  font-size: 1.2em;
  line-height: 44px;
  color: white;
}

#scroll-view {
  bottom: 0;
  /* top:10vh; */
  /* leave room for 100px header */
  height: calc(100% - 112px);
  width: 100%;
  overflow: auto;
  flex: 3;
  background-color: #606165;
  margin-top: 112px;
  /* margin-top: calc(100vh - 14vh); */
  position: relative;
  top: 0;
  left: 0;
}

#viewer {
  margin: auto;
  /* padding-top: 10vh; */
}

#main-column {
  flex-direction: row;
  flex: 3;
}

#tools {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #FBFBFB; */
  height: 100%;
}

#tools button {
  background-color: transparent;
  /* fill: #757575; */
  /* width: 32px;
  height: 32px; */
  margin: 5px;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.zoom_buttons{
  margin-right: 3rem;
  margin-left: 2rem;
}

#tools button:hover {
  background-color: #c7d2dd;
  border-radius: 4px;
}

.pageContainer {
  /* border: 1px solid #ececec;
  box-shadow: 5px 10px 18px #ececec;
  position: relative; */
}
.flexbox-container {
  display: flex;
}

/* added by rija */
.side_container{
  position: fixed;
  /* top: 13vh; */
  background-color: #606165;
  width: 470px;
  height: calc(100vh - 115px);
  z-index: 21;
  /* border: 1px solid red; */
  padding: 40px;
  padding-top: 24px;
  box-sizing: border-box;
}

.side_container.left{
  left: 0;
}

.side_container.right{
  right: 0;
}


.custom_header{
  box-shadow: 0px 4px 8px 4px rgba(0, 13, 27, 0.06);
  position: fixed;
  z-index: 99999;
  background-color: #FBFBFB;
  padding: 0 14px;
  /* max-height: 10vh; */
  max-height: 10vh;
  min-height: 112px;
}

.operations_header{
  /* max-height: 10vh; */
}

.current_page_input{
  padding: 5px 10px;
  border: 1px solid #9BC1E9;
  background-color: #FBFBFB;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
}

.left_header, .right_header{
  padding: 14px;

}

.right_header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.book_thumbnail{
  /* width: 64px; */
  /* height: 9vh; */
  margin-right: 16px;
}
.book_name{
font-size: 18px;
}
.book_info{
  display: flex;
  align-items: center;
}
.pdf_logo{
  /* width: 106px;
  height: 72px; */
  /* height: 9vh; */
}



.bookmarks_container{
  padding: 24px;
  padding-right: 8px;
  background-color: white;
  border-radius: 8px;
  height: 37vh;
  max-height: 37vh;
  position: relative;
  top: 0;
  left: 0;
}

.main_bookmarks_container{
  background-color: white;
  height: 100%;
  /* overflow-x: hidden; */
  overflow: auto;
  padding-right: 16px;
 
}
.main_bookmarks_container::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}

.main_bookmarks_container::-webkit-scrollbar-track {
   background-color: #DADADA;
}
 
.main_bookmarks_container::-webkit-scrollbar-thumb {
  background-color: #5F20AF;
  border-radius: 50px;
}

.main_bookmarks_container .bookmarks_heading{
  font-size: 18px;
  font-weight: 500;
  color: #3B3C44;
  padding-bottom: 13px;
  /* margin-bottom: 12px; */
  border-bottom: 1px solid #9BC1E9;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.main_bookmarks_container .bookmarks_heading .carrot_icon.close{
  /* fill: red; */
  transform: rotateX(180deg)
}

.main_bookmarks_container .bookmarks_subheading{
  font-size: 18px;
  font-weight: 400;
  color: #3B3C44;
  padding: 12px 0px;
  cursor: pointer;
}
.main_bookmarks_container .bookmarks_subheading.nested_subheading{
  padding-bottom: 12px;
  
}

/* .main_bookmarks_container ul.subItem_container{
  margin: 0;
  color: #929196;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
} */

.main_bookmarks_container li.subItem:last-child{
  margin-bottom: 24px;
}

.main_bookmarks_container li.subItem{
  margin-bottom: 12px;
  color: #929196;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.bottom_margin{
  margin-bottom: 24px !important;
}

.operation_btn{
  width: 100%;
  outline: none;
  background-color: white;
  border-radius: 8px;
  padding: 14px 22px;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #3B3C44;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .operations_header{
    order:1;
  }
  .custom_header{
    max-height: 160px;
    min-height: 160px;
  }
  #scroll-view{
    margin-top: 160px;
    height: calc(100% - 160px);
  }
}
